body{
    background: radial-gradient(rgba(11, 50, 54, 0.75),rgba(184, 239, 226, 0.79));
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
}
button,input{
    font-family: inherit;
}
body{
    height: 100%;
}
a{
    text-decoration: none;
}
a.nav-link:visited
{
    text-decoration: none;
}
header{

}
header, footer{
    max-width: 100%;
    height: 100px;
}
footer{

    height: 200px;
}

.navbar{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-height: 100%;
    margin-bottom: 5px;
}

.navbar-sign-in-choice{
    display: flex;
    justify-content: center;
    border-radius:25px;
    height: 50px;
    width: 150px;
    margin-bottom: 5px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    height: 50px;
    width: 150px;
    color: rgb(164, 180, 148);
}

.choice-block{
    border-top:2px groove rgba(11, 50, 54, 0.75);
    display: flex;
    max-width: 100%;
}
.choice{
    text-align: center;
    width: 50%;
    height: 500px;
}

.left{
    border-radius: 20px 0 0 20px;
}
.right{
    border-radius: 0 20px 20px 0;
}

.choice-button-container{
    border-radius: 25%;
    width:200px;
    height:50px;
}
.choice-button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: radial-gradient(rgb(62, 133, 133),#051375);
    color: white;
    font-size: 18px;
    font-weight:bold;
    cursor:pointer;
}

#new-account{
    overflow:hidden;
    position: relative;

}
#explore-wishes{
    padding-left: -200px;
    overflow:hidden;
    position: relative;
}
.account-bg{
    transition: transform 1s;
    background-image: url("Attachments/img/img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width:100%;
    height: 100%;
}
.explore-bg{
    transition: transform 1s;
    background-image: url("Attachments/img/exploreWishLists.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width:100%;
    height: 100%;
}
.choice:hover .explore-bg, .choice:hover .account-bg{
    transform:scale(1.2);
}

.button-alignment{
    position:absolute;
    bottom:20px;
    width: 100%;
    text-align:center;
}
.footer-container{
    display:flex;
    justify-content: center;
    min-height: 100%;
    border-top:2px groove rgba(11, 50, 54, 0.75);
}
.socials, .support, .info{
    width: 192px;
}
.socials{
    margin: 20px;
    display: flex;
    align-items: center;
}
.social-logo{
    margin: 3px
}
.footer-menu{
    display: flex;
    height: 120px;
}
.support{
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.footer-link{
    padding: 3px;
}

.info{
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}