body {
    background-color: rgb(81,152,114);
}

.choice-block{

    display: flex;
    justify-content: center;
    margin-top: 100px;
    min-width:900px;
}
.choice{
    min-width:450px;
    display: table;
    text-align: center;
    width: 450px;
    height: 550px;
    border-radius: 20px;
}

.choice:hover{
    width: 600px;
    box-shadow: 5px 10px black;
}
.choice-button-container{
    display: table-cell;
    vertical-align: bottom;
    border-radius: 25%;
    width:200px;
    height:50px;
}
.choice-button{
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgb(47, 8, 66);
    color: rgb(164, 180, 148);
}

#new-account{
    background-image: url("../static/img/present.jpg");
    background-repeat: no-repeat;
    background-size: 700px 550px;
}
#explore-wishes{
    background-image: url("../static/img/exploreWishLists.jpg");
    background-repeat: no-repeat;
    background-size: 700px 550px;
    padding-left: -200px;
}