<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show User Wishes</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <h1>User Wishes</h1>
    <table class="wishlist">
        <tr>
            <th>Wish ID</th>
            <th>Wish Title</th>
            <th>Wish URL</th>
            <th>Wish Price</th>
            <th>Wish Reserved?</th>
            <th>Wishlist ID</th>
        </tr>
        <tr th:each="wish : ${listOfWishes}">
            <td th:text="${wish.getId}"></td>
            <td th:text="${wish.getTitle}"></td>
            <td th:text="${wish.getUrl}"></td>
            <td th:text="${wish.getPrice}"></td>
            <td th:text="${wish.isReservedBool}"></td>
            <td th:text="${wish.getWishListID}"></td>
        </tr>
    </table>
    <h1>Creating new wish, enter details below: </h1>

    <form action="#" th:action="@{/user-panel/wishlist}" method="post" th:object="${wish}">
        <label for="wish_title">Title</label>
        <input id="wish_title" name="wish" type="text" th:field="*{title}"><br><br>

        <label for="wish_price">Price</label>
        <input id="wish_price" name="wish" type="text" th:field="*{price}"><br><br>

        <label for="wish_url">Link</label>
        <input id="wish_url" name="wish" type="text" th:field="*{url}"><br><br>

        <br><br>

        <button type="submit">Wish!</button>

    </form>
</div>
</body>
</html>