<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show User Wishlists</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <h1>User Wishlists</h1>
    <table class="wishlist">
        <tr>
            <th>Wishlist ID</th>
            <th>Wishlist Title</th>
            <th>Wishlist Owner ID</th>
            <th>Shareable Link</th>
        </tr>
        <tr th:each="wishlist : ${wishListList}">
            <td th:text="${wishlist.getIdwishlist}"></td>
            <td> <a th:href="'/user-panel/wishlist?listId=' + ${wishlist.getIdwishlist()}" th:text="${wishlist.getListName}"></a></td>
            <td th:text="${wishlist.getUserid}"></td>
            <td> <a target="_blank" th:href="'/user/wishlist?listId=' + ${wishlist.getIdwishlist()}"> Share Me!</a></td>
        </tr>
    </table>
    <br>
    <h1>Create new wishlist</h1>
    <form action="#" th:action="@{/user-panel/new-wishlist}" method="post" th:object="${wishlist}">
        <label for="wishlist-title">Title</label>
        <input id="wishlist-title" name="wishlist" type="text" th:field="${wishlist.listName}"><br><br>

        <button type="submit">Create</button>
    </form>
    <br>
    <h1>Share all your wishlists:</h1>
    <br>
    <span> <a target="_blank" th:href="'/user?iD=' + ${userID}"> Share Wishlists!</a></span>
</div>
</body>
</html>