<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="choice-block">
    <div id="new-account" class="choice left">
        <div class="account-bg"></div>
        <div class="button-alignment">
            <a class="choice-button-container" href="index.html">
                <button class="choice-button" type="button">
                    Make a wishlist!
                </button>
            </a>
        </div>
    </div>
    <div id="explore-wishes" class="choice right">
        <div class="explore-bg"></div>
        <div class="button-alignment">
            <a class="choice-button-container" href="index.html">
                <button class="choice-button" type="button">
                    explore wishlists!
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>