<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Wishlists</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <h1>Wishlists</h1>
    <table class="wishlist">
        <tr>
            <th>Wishlist ID</th>
            <th>Wishlist Title</th>
            <th>Wishlist Owner ID</th>
        </tr>
        <tr th:each="wishlist : ${wishListList}">
            <td th:text="${wishlist.getIdwishlist}"></td>
            <td><a th:href="'/user/wishlist?listId=' + ${wishlist.getIdwishlist}"  th:text="${wishlist.getListName}"></a> </td>
            <td th:text="${wishlist.getUserid}"></td>
        </tr>
    </table>
</div>
</body>
</html>